<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Title</title>
</head>

<div layout:fragment="content">

    <script th:inline="javascript">
        function join() {

            $.ajax({
                type: "post",
                url: "/member/join",
                dataType: "json",
                data: {
                    "id": $("#id").val(),
                    "password": $("#password").val(),
                    "name": $("#name").val()
                },
                success: function (data) {
                    //alert("성공");

                },



                error: function (data,request,error) {
                    alert(data.responseText);
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error)
                    console.log(data)
                    console.log(request)
                    console.log(error)
                }
            });
        }
    </script>
    <div id="container">
        <h2>회원가입</h2>
<!--        <form>-->
            <table class="tbl_login">
                <tr>
                    <td>아이디</td>
                    <td><input id = "id" type="text" name="id"></td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td><input id = "password" type="password" name="password"></td>
                </tr>
                <tr>
                    <td>비밀번호 확인</td>
                    <td><input type="password" name="password_confirm"></td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td><input id = "name" type="text" name="name"></td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <button type="button" onclick="join()">가입하기</button>
                    </td>
                </tr>
            </table>
<!--        </form>-->
    </div>

</div>

</html>