<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Title</title>
</head>
<div layout:fragment="content" class="background">


<!--    <div class = "background" style ="background-image: url('https://t1.daumcdn.net/cfile/blog/2668933953157BC916')">-->

        <h1>mainPage</h1>
<!--        <img src="https://t1.daumcdn.net/cfile/blog/2668933953157BC916">-->

<!--    </div>-->
</div>

</html>